<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ClienteMapper">
    <select parameterType="map" id="consultarClientes" resultMap="ClienteResult">
		select * from VI_CLIENTES
    </select>
    <resultMap type='Cliente' id='ClienteResult'>
        <id property='documento' column='documento'/>
        <result property='nombre' column='nombre'/>
        <result property='direccion' column='direccion'/>  
        <result property='email' column='email'/>
        <result property='vetado' column='vetado'/>
        <association property="rentados" javaType="ItemRentado"></association>   
    </resultMap>
    
    <select parameterType="map" id="consultarItemRentado" resultMap="ItemRentadoResult">
		select * from VI_ITEMRENTADO
    </select>
    <resultMap type='ItemRentado' id='ItemRentadoResult'>
        <id property='id' column='id'/>
        <result property='item' column='COLUMNAS'/>
        <association property="item" javaType="Item"></association>
        <result property='fechainiciorenta' column='fechainiciorenta'/>
        <result property='fechafinrenta' column='fechafinrenta'/>
    </resultMap>
    
    <select parameterType="map" id="consultarItems" resultMap="ItemsResult">
		select * from VI_ITEMS
    </select>
    <resultMap type='Item' id='ItemResult'>
        <id property='id' column='id'/>
        <association property="tipo" javaType="TipoItem"></association>
        <result property='nombre' column='nombre'/>
        <result property='descripcion' column='descripcion'/>
        <result property='fechaLanzamiento' column='fechaLanzamiento'/>
        <result property='tarifaxDia' column='tarifaxDia'/>
        <result property='formatoRenta' column='formatoRenta'/>
        <result property='genero' column='genero'/>
    </resultMap>
    
    <select parameterType="map" id="consultarTipoItem" resultMap="TipoItemResult">
		select * from VI_TIPOITEM
    </select>
    <resultMap type='TipoItem' id='TipoItemResult'>
        <id property='id' column='id'/>
        <result property='descripcion' column='descripcion'/>
    </resultMap>
    

          	
</mapper>